<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Modificar Tipo Vehiculos</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Tipo:</label>
            <input [(ngModel)]="tipo.valor" name="valor" type="text" class="form-control">
          </div>
          <button (click)="Actualizar(tipo)" class="btn btn-danger">Actualizar</button>
        </form>
      </div>
    </div>
  </div>